/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2020, 8:45:55 AM
    Author     : Dilanka_R
*/

.img_preview{
    width: 100%;
    height: auto;
}
.row,.form-control,.sec1{
    margin-top: 1%
}
.main_tabs{
    padding: 1%;
}
span{
    cursor: pointer;
}
.in-progress{
    text-align: center;
}
.in-progress::after{
    content: "Avaiable On Interface 1.5v";
}
.progress{
    /*height: 100%;*/
}
input[type="color"] {
    margin-top:10px;
}
.btn-save{
    float: right;
    margin-top: 1%
}
.progress1{
    height: 4px
}
#save_status{
    text-align: center;
}
#save_status::after{
    content: "Progress";
}
.prog_det_anim{
    animation: opacity0-9 2s infinite;
}
@keyframes opacity0-9{
    from{opacity:0}
    to{opacity:1}
}